.container{
    margin: auto;
    border: 2px solid blue;
    width: 50vw;
    margin-top: 10vh;
    
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   padding: 10px;
}
.form label{
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}
.form  input{
    padding: 20px;
    border: 2px solid royalblue;
    border-radius: 8px;
    width: 30vw;

}
.form  textarea{
    padding: 20px;
    border: 2px solid royalblue;
    border-radius: 8px;
    width: 30vw;
    
}
.btn{
    margin-top: 5vh;
    width: 10vw;
    border: none;
    background-color: royalblue;
    border-radius: 8px;
    color: white;
    height: 10vh;
    font-size: large;
    cursor: pointer;
    padding: 20px;

}
